<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shopping list</title>

	<!-- CSS -->
	<!-- load bootstrap and our stylesheet -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
 	<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
 	<!-- Local CSS -->
 	<link rel="stylesheet" href="css/custom.css">  

	<style>
		body { padding-top:50px; }
	</style>

	<!-- load angular, pubnub, and our custom application -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.pubnub.com/pubnub.min.js"></script>
	<!-- load local JS file -->
	<script src="js/app.js"></script>

</head>

<!-- declare our angular application and angular controller -->
<body class="container" ng-app="firstApp" ng-controller="mainController as main" ng-init="main.subscribeToList()">

<div class="jumbotron">
	<!-- form to update the message variable using ng-model -->
	<!-- display the message -->
	<h1 align="center">Thing to Shop for!</h1>
	<!-- display the list using ng-repeat -->
	<br><br>
	<table class="table" id="myTable" ng-init="main.getAll()">
		<thead>
			<tr>
				<td>Name</td>
				<td>Price</td>
				<td>quantity</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="grocery in main.shoppingList" id="{{grocery.objectId}}">
				<td>{{ grocery.name }}</td>
				<td>{{ grocery.price }}</td>
				<td>{{ grocery.quantity }}</td>
				<td nowrap=nowrap>
            <button class="glyphicon glyphicon-remove" name="delete" id="delete {{grocery.objectId}}" ng-click="main.delete(grocery)"></button>
            <button class="glyphicon glyphicon-edit" name="edit" id="edit {{grocery.objectId}}" ng-click="main.edit(grocery)"></button>
            <button class="btn btn-success" name="save" id="save {{grocery.objectId}}" style="display:none;" ng-click="main.editSave(grocery)">Save</button>
            
        </td>
			</tr>
		</tbody>
	</table>
	<!-- form to add grocery to the list --> 

	<form class="form-inline" ng-submit="main.create()">
		<input type="text" class="form-control" placeholder="Steak" ng-model="main.groceryList.name">
		<input type="text" class="form-control" placeholder="12.99" ng-model="main.groceryList.price">
		<input type="number" class="form-control" placeholder="8" ng-model="main.groceryList.quantity">

		<button type="submit" class="btn btn-success" ></i>Add</button>
	</form>
</div>
	
</body>
</html>